@import "./theme/style.scss";

.node {
  cursor: pointer;
}

.overlay {
  background-color: white;
}

.node rect {
  fill: #fff;
  stroke: darkcyan;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
  font-family: serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#text {
  width: 80%;
}
